<%= form_for @contact do |f| %>
    <div class="row">
        <div class="col-md-12">
            <h2>Contact Us</h2>
            <p>Reach out if you have any comments</p>
        </div>
    </div>  
    <div class="row">
        <div class='col-md-12 well'>
            <div class="col-md-6">
                <div class="form-group">
                    <%= f.label :name %>
                    <%= f.text_field :name, class: 'form-control' %>
                </div>
            </div>
            <div class="col-md-6">
                 <div class="form-group">
                    <%= f.label :email %>
                    <%= f.text_field :email, class: 'form-control' %>
                </div>                   
            </div>
        </div>
        <div class='col-md-12 well'>
            <div class="form-group">
                <%= f.label :comments %>
                <%= f.text_area :comments, class: 'form-control' %>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <%= f.submit "Submit", class: 'btn btn-success' %>
        </div>
    </div>

<%end%> 